.card-list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(1, 319px);
    gap: 32px;
    justify-content: center;
    grid-auto-rows: 319px;
}

.card-list__line {
    padding: 0 70px;
}

.card-list__button {
    display: block;
    margin: 50px auto 80px auto;
    background-color: transparent;
    border: 1px solid #424242;
    border-radius: 5px;
    width: 320px;
    height: 36px;
    padding: 10px 60px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.card-list__button:hover {
    background-color: #525252;
}

.card-list__button_hide {
    display: none;
}

@media screen and (max-width: 1280px) {
    .card-list {
        grid-template-columns: repeat(2, 342px);
        grid-template-rows: 309px;
        grid-auto-rows: 309px;
        column-gap: 24px;
        row-gap: 35px;
    }
    .card-list__line {
        padding: 0 30px;
    }
}

@media screen and (max-width: 767px) {
    .card-list {
        grid-template-columns: 300px;
        grid-template-rows: 271px;
        grid-auto-rows: 271px;
        row-gap: 14px;
    }
    .card-list__line {
        padding: 0 30px;
    }
    .card-list__button {
        width: 240px;
    }
}